body {
  margin: 0;
  font-family: "Cairo", Arial, sans-serif;
  background-color: #f6f6f4;
  color: #1a1a1a;
}

header {
  background-color: #000080;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: #FBB917; /* ذهبي داكن مائل للنحاسي */
}

nav {
  margin-top: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 12px;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
.breaking-news {
  background-color: #FBB917;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 14px;
}

.breaking-news .label {
  font-weight: bold;
  margin-left: 10px;
}
.home-layout {
  display: flex;
  gap: 30px;
}

.main-content {
  flex: 3;
}

.sidebar {
  flex: 1;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
}

.ai-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #8b6b4a;
  background-color: #FBB917;
}
.video-section {
  max-width: 900px;
  margin: 40px auto;
}

.video-frame {
  border: 2px solid #FBB917;
  padding: 40px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.article-container {
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  line-height: 1.9;
}

.article-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.article-meta {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

.article-image {
  width: 100%;
  margin: 25px 0;
}

.article-actions {
  margin-top: 30px;
  font-size: 16px;
  color: #8b6b4a;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.author-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #FBB917; /* ذهبي نحاسي */
}

.author-info h3 {
  margin: 0 0 5px 0;
  color: #0b1c2d;
}

.author-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.video-frame {
  border: 2px solid #FBB917;
  padding: 40px;
  text-align: center;
}

header,
footer {
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
