body {
  margin: 0;
  font-family: "Cairo", Arial, sans-serif;
  background-color: #f6f6f4;
  color: #1a1a1a;
}

header {
  background-color: #0b1d3a;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: #d4b07a; /* ذهبي داكن مائل للنحاسي */
}

nav {
  margin-top: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 12px;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
.breaking-news {
  background-color: #8b6b4a;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 14px;
}

.breaking-news .label {
  font-weight: bold;
  margin-left: 10px;
}
.home-layout {
  display: flex;
  gap: 30px;
}

.main-content {
  flex: 3;
}

.sidebar {
  flex: 1;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
}

.ai-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #8b6b4a;
  background-color: #fdfbf8;
}
.video-section {
  max-width: 900px;
  margin: 40px auto;
}

.video-frame {
  border: 2px solid #8b6b4a;
  padding: 40px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
